@model ShopApp.WebUI.Models.CategoryListModel
@{
    ViewData["Title"] = "CategoryList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row ">
                <div class="col-lg-10">
                    <h2 class=""><strong>Kategoriler</strong></h2>
                </div>
                <div class=" col-lg-2">
                    <a class="site-btn" asp-controller="Admin" asp-action="CreateCategory"> Yeni Kategori Ekle</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="tablo row">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>Kategori ID</th>
                                    <th>Kategori İsmi</th>
                                    <th>İşlem</th>
                                </tr>

                            </thead>
                            @foreach (var item in Model.Categories)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>
                                        <p class="fw-normal mb-1">@item.Name</p>
                                    </td>
                                    <td>
                                        <a href="/Admin/EditCategory/@item.Id" class="btn btn-link badge-primary btn-pill btn-sm fw-bold"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <form action="/admin/DeleteCategory/" method="post" style="display:inline">
                                            <input type="hidden" name="id" value="@item.Id" />
                                            <button type="submit" style="color:white;text-decoration:none"
                                                    class="btn btn-link badge-danger btn-pill btn-sm fw-bold">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>  Sil
                                            </button>
                                        </form>

                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>


            </div>

        </div>

    </div>
</div>

