@model ShopApp.WebUI.Models.CategoryModel
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="background-color:rgb(249, 249, 249);border-radius: 15px;padding: 3%;" class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <h4>
                    <strong> Kategori Ekle </strong>
                </h4><br>
            </div>
            <div style="margin-top: 15px;" class="row">
                <div class="col-8">
                    <form asp-controller="admin" asp-action="CreateCategory" method="post">
                        <div class="row">
                            <div class="col-3">
                                <span class="order-edit">
                                    Kategori İsmi
                                </span>
                            </div>
                            <div class="col-9">
                                <input class="order-edit_input" asp-for="Name" type="text" placeholder="Kategori Adını Giriniz">
                            </div>
                        </div>
                        <div class="row ">
                            <button id="save" class="primary-btn " type="submit">Kaydet</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

