
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>7
<form asp-controller="Role" asp-action="Create" method="post">
    <input name="Name" placeholder="Role gir" />
    <button type="submit"> Ekle</button>
</form>


