<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="categories__items">
                    <div class="categories__item set-bg" data-setbg="/Theme/img/categories/cat-1.jpg">
                        <h5><a href="#">Baharatlar</a></h5>
                    </div>
                </div>
                <div class="categories__items">
                    <div class="categories__item set-bg" data-setbg="/Theme/img/categories/cat-2.jpg">
                        <h5><a href="#">Şifalı Bitkiler</a></h5>
                    </div>
                </div>
                <div class="categories__items">
                    <div class="categories__item set-bg" data-setbg="/Theme/img/categories/cat-3.jpg">
                        <h5><a href="#">Kahve</a></h5>
                    </div>
                </div>
                <div class="categories__items">
                    <div class="categories__item set-bg" data-setbg="/Theme/img/categories/cat-4.jpg">
                        <h5><a href="#">Aromalı İçecekler</a></h5>
                    </div>
                </div>
                <div class="categories__items">
                    <div class="categories__item set-bg" data-setbg="/Theme/img/categories/cat-4.jpg">
                        <h5><a href="#">Aromalı İçecekler</a></h5>
                    </div>
                </div>
                <div class="categories__items">
                    <div class="categories__item set-bg" data-setbg="/Theme/img/categories/cat-4.jpg">
                        <h5><a href="#">Aromalı İçecekler</a></h5>
                    </div>
                </div>
                <div class="categories__items">
                    <div class="categories__item set-bg" data-setbg="/Theme/img/categories/cat-4.jpg">
                        <h5><a href="#">Aromalı İçecekler</a></h5>
                    </div>
                </div>
                <div class="categories__items">
                    <div class="categories__item set-bg" data-setbg="/Theme/img/categories/cat-4.jpg">
                        <h5><a href="#">Aromalı İçecekler</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>