<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer__about">
                 <strong>Şirket Bilgileri</strong>
                    <ul>
                        <li>Adres:Antalya Organize Sanayi Bölgesi 2. Kısım 24. Cadde</li>
                        <li>Telefon No:0(242)3222327</li>
                        <li>Mobile Telefon No-1:05413222327</li>
                        <li>Mobile Telefon No-2:05413222328</li>
                        <li>Email:mutlu_baharat@hotmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer__about">
                    <strong>Güvenlik Bilgileri</strong>
                    <ul>
                        <li><a href="#">Güvenlik sözleşmesi</a></li>
                        <li><a href="#">Ödeme</a></li>
                        <li><a href="#">Hakkımızda</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer__about">
                    <strong>Meta Akdeniz Team</strong>
                    <ul>
                        <li>Adres:Antalya Organize Sanayi Bölgesi 2. Kısım 24. Cadde</li>
                        <li>Telefon No:0(242)3222327</li>
                        <li>Mobile Telefon No-1:05413222327</li>
                        <li>Mobile Telefon No-2:05413222328</li>
                        <li>Email:destek@metaakdeniz.com</li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Telif Hakkı &copy;<script>document.write(new Date().getFullYear());</script> Tüm Hakları Sakldır | <a href="https://www.metaakdeniz.com/" target="_blank">MetaAkdeniz Yazılım</a> Tarafından Hazırlanmıştır.
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                    <div class="footer__copyright__payment"><img src="/Theme/img/payment-item.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</footer>