
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i>info@mutlubaharat.com</li>
                            <li> 100₺ ve üzeri kargo bedava</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-instagram"></i></a>

                        </div>
                    

                        @if (User.Identity.IsAuthenticated)
                        {
                            @await Component.InvokeAsync("GetUser")

                            <div class="header__top__right__auth">
                                <a asp-controller="Account" asp-action="Logout"><i class="fa fa-sign-out"></i> Çıkış</a>
                            </div>
                        }
                        else
                        {
                            <div class="header__top__right__auth">
                                <a asp-controller="Account" asp-action="RegisterUser" style="margin-right:10px"><i class="fa fa-plus"></i>Kayıt Ol</a>
                            </div>

                            <div class="header__top__right__auth">
                                <a asp-controller="Account" asp-action="Login"><i class="fa fa-user"></i>   Giriş</a>
                            </div>
                        }
                   
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 text-center">
                <div class="header__logo">
                    <a href="./index.html"><img src="/Theme/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>

                        <li><a asp-controller="Shop" asp-action="AllList">Alışveriş</a></li>
                        <li><a asp-controller="Home" asp-action="Contact">İletişim</a></li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li><a asp-controller="Admin" asp-action="Index">Admin</a></li>
                        }
               
                 
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul>
                            @await Component.InvokeAsync("TotalBag")
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li>
                                    @User.Identity.Name
                                </li>
                            }
                      
                        </ul>
                    }
                 
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>