@model ShopApp.WebUI.Models.CategoryListViewModel
<div class="sidebar__item">
    <h4>Kategoriler</h4>
    <ul>
        @foreach (var item in Model.kategoriler)
        {
            <li>
                <a asp-controller="Shop"
               asp-action="AllList"
               asp-route-category="@item.Name.ToLower()">@item.Name</a>
            </li>
        }
    </ul>
</div>
